<mat-button-toggle value="bold">vege</mat-button-toggle>

<p>MEAL</p>
<mat-button-toggle value="bold">breakfast</mat-button-toggle>
<mat-button-toggle value="italic">lunch</mat-button-toggle>
<mat-button-toggle value="underline">dinner</mat-button-toggle>

<p>SIDE</p>
<mat-button-toggle value="bold">potatoes</mat-button-toggle>
<mat-button-toggle value="italic">tortilla</mat-button-toggle>
<mat-button-toggle value="underline">rice</mat-button-toggle>
<mat-button-toggle value="underline">bun</mat-button-toggle>
