<section class="dishInfo">
  <div *ngIf="!waitingForADish && dishes else loadingOrError">
    <!--<mat-spinner></mat-spinner>-->
    <ng-container *ngFor="let dish of dishes"
         class="dishVisible">
      <p class="dishName">
      {{ dish.name }}
      </p>
      <button mat-raised-button
              (click)="searchRecipeGoogle()">recipe
      </button>
    </ng-container>
  </div>
  <ng-template #loadingOrError>
    <ng-container *ngIf="getErrorMsg else spinner">
        {{ getErrorMsg }}
    </ng-container>
    <ng-template #spinner>
      <p><mat-spinner></mat-spinner></p>
    </ng-template>
  </ng-template>
</section>
<section class="buttons">
  <button mat-raised-button
          (click)="getRandomDish()">random
  </button>
  <button mat-raised-button
          (click)="findThreeDishes()">find 3
  </button>

  <button mat-raised-button
          (click)="clearDishInfo()">clear info
  </button>
</section>
